html,
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}

/*******VIEW*******/

.credit-card-container {
    display: flex;
    align-items: center;
}

.credit-card-company {
    text-align: right;
    font-weight: bold;
}

.credit-card {
    width: 350px;
    background-color: #144469;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}

.credit-card-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 10px;
}

.credit-card-content {
    width: 100%;
    padding-right: 10px;
}

.credit-card-chip {
    max-width: 30px;
}

.credit-card-validthru {
    text-align: right;
}

.credit-card-logo {
    max-width: 80px;
}

.credit-card-logo-bloc {
    display: flex;
    align-items: flex-end;
}


/*******FORM*******/

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    display: block;
    margin: 10px 5px;
    min-width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #144469;
}

input:focus {
    outline: none;
}